In [2]:
import pandas as pd
import numpy as np

In [3]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
final_df = movies.merge(credits, on = 'title')

In [7]:
final_df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
final_df['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [9]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [10]:
"""
genres 
id
keywords
title
overview
cast
crew
"""

'\ngenres \nid\nkeywords\ntitle\noverview\ncast\ncrew\n'

In [11]:
final_df = final_df[['id', 'title', 'genres', 'overview', 'keywords' , 'cast', 'crew']]

In [12]:
import json
final_df['keywords'] = final_df['keywords'].apply(lambda x: json.loads(x))
final_df['cast'] = final_df['cast'].apply(lambda x: json.loads(x))
final_df['crew'] = final_df['crew'].apply(lambda x: json.loads(x))
final_df['genres'] = final_df['genres'].apply(lambda x: json.loads(x))

In [13]:
final_df['cast'][0][0]['name']

'Sam Worthington'

In [14]:
def find_director(row):
    li = []
    for i in row:
        if i['job'] == "Director":
            li.append(i['name'])
    return li

In [15]:
def find_top_three_actors(row):
    li = []
    counter = 0
    for i in row:
        if counter < 3:
            li.append(i['name'])
            counter+=1
    return li

In [16]:
def find_genre(row):
    li = []
    for i in row:
        li.append(i['name'])
    return li

In [17]:
find_genre(final_df['genres'][0])

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [18]:
find_top_three_actors(final_df['cast'][0])

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [19]:
final_df['cast'] = final_df['cast'].apply(find_top_three_actors)
final_df['crew'] = final_df['crew'].apply(find_director) 
final_df['genres'] = final_df['genres'].apply(find_genre)
final_df['keywords'] = final_df['keywords'].apply(find_genre)

In [20]:
final_df.head(1)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [21]:
def overview_list(row):
    return row.split()

overview_list(final_df['overview'][0])

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [22]:
final_df['overview'] = final_df['overview'].apply(lambda x: str(x).split())

In [23]:
final_df['tags'] = final_df['overview'] + final_df['genres'] + final_df['keywords'] + final_df['cast'] + final_df['crew']

In [24]:

final_df.head(1)

,id,title,genres,overview,keywords,cast,crew,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [25]:
tags_df = final_df[['id', 'title', 'tags']]

In [26]:
tags_df.head()

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [27]:
tags_df['tags'] = tags_df['tags'].apply(lambda x: " ".join(x))

C:\Users\arsla\AppData\Local\Temp\ipykernel_8388\446995320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tags_df['tags'] = tags_df['tags'].apply(lambda x: " ".join(x))

In [28]:
tags_df.head()

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [29]:
tags_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy Science Fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d Sam Worthington Zoe Saldana Sigourney Weaver James Cameron'

In [30]:
tags_df['tags'] = tags_df['tags'].apply(lambda x: x.lower())

C:\Users\arsla\AppData\Local\Temp\ipykernel_8388\1913381112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tags_df['tags'] = tags_df['tags'].apply(lambda x: x.lower())

In [31]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [32]:
def stemming(row):
    li = []
    for i in row.split():
        li.append(ps.stem(i))
    return " ".join(li)
tags_df['tags'] = tags_df['tags'].apply(stemming)

C:\Users\arsla\AppData\Local\Temp\ipykernel_8388\1058604454.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tags_df['tags'] = tags_df['tags'].apply(stemming)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer( max_features=5000, stop_words='english')

In [34]:
vectors = cv.fit_transform(tags_df['tags']).toarray()

In [35]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zooey', 'zucker', 'zwick'], dtype=object)

In [36]:
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
similartiy = cosine_similarity(vectors)

In [38]:
similartiy.shape

(4809, 4809)

In [42]:
def recommend(movie):
    
    movies_index = int(np.where(tags_df['title'] == movie)[0][0])
    distances = similartiy[movies_index]
    similar_movies = sorted(list(enumerate(distances)), key=lambda x:x[1], reverse=True)[1:6]
    for i in similar_movies:
        print(tags_df.iloc[i[0],1])

In [43]:
tags_df[tags_df['title'].isin(['Titanic'])]

     id    title                                               tags
25  597  Titanic  84 year later, a 101-year-old woman name rose ...

In [44]:
recommend("Titanic")

The Notebook
Romance & Cigarettes
Veer-Zaara
Ghost Ship
Poseidon

In [41]:
sorted(list(enumerate(similartiy[np.int64(0)])), key=lambda x:x[1], reverse=True)

[(0, np.float64(0.9999999999999997)),
 (2405, np.float64(0.49356764739637354)),
 (4338, np.float64(0.4113063728303113)),
 (1533, np.float64(0.38807121827489494)),
 (3161, np.float64(0.3879852850993631)),
 (373, np.float64(0.380442955126341)),
 (838, np.float64(0.3776782946782564)),
 (2017, np.float64(0.3742636563667588)),
 (1916, np.float64(0.35840861465369933)),
 (305, np.float64(0.3375152561397402)),
 (2200, np.float64(0.3363311128027263)),
 (278, np.float64(0.3311330892662609)),
 (1080, np.float64(0.3248113180671166)),
 (507, np.float64(0.3204941007114358)),
 (158, np.float64(0.32002844823759896)),
 (300, np.float64(0.31906199086795106)),
 (3537, np.float64(0.3162994973926084)),
 (1214, np.float64(0.3109371676027109)),
 (3735, np.float64(0.309344112444873)),
 (184, np.float64(0.3034884893334419)),
 (461, np.float64(0.30117351663461456)),
 (1319, np.float64(0.3008967382970351)),
 (47, np.float64(0.30066001672920123)),
 (1711, np.float64(0.2974059387397313)),
 (577, np.float64(0.293887343348258)),
 (2969, np.float64(0.2938769068226293)),
 (582, np.float64(0.29314232661238443)),
 (1069, np.float64(0.2931423266123844)),
 (1353, np.float64(0.2913971185543096)),
 (260, np.float64(0.29135827337403253)),
 (1202, np.float64(0.29135827337403253)),
 (149, np.float64(0.2896811091620759)),
 (1355, np.float64(0.28867513459481287)),
 (4, np.float64(0.28791446098121787)),
 (94, np.float64(0.2866297455600074)),
 (778, np.float64(0.2845551966122361)),
 (661, np.float64(0.2838874869788344)),
 (239, np.float64(0.2809757434745082)),
 (539, np.float64(0.2755193843889919)),
 (972, np.float64(0.27042102426470555)),
 (973, np.float64(0.2605842192811105)),
 (1761, np.float64(0.2604940361258638)),
 (1953, np.float64(0.26013299085723596)),
 (3672, np.float64(0.25605197407973057)),
 (95, np.float64(0.2549193760626268)),
 (4047, np.float64(0.25391668753850405)),
 (502, np.float64(0.25335585485476586)),
 (322, np.float64(0.2533558548547658)),
 (595, np.float64(0.2517482730476142)),
 (1199, np.float64(0.24722569302909872)),
 (74, np.float64(0.24678382369818672)),
 (2970, np.float64(0.2445579940222592)),
 (541, np.float64(0.24366985862022406)),
 (56, np.float64(0.24333213169614376)),
 (1054, np.float64(0.24309485018510557)),
 (61, np.float64(0.24190495145855573)),
 (1342, np.float64(0.24099009325151113)),
 (1218, np.float64(0.24002133617819923)),
 (432, np.float64(0.2364763257317293)),
 (2698, np.float64(0.23498939817841866)),
 (549, np.float64(0.23498939817841863)),
 (692, np.float64(0.23475647508309563)),
 (770, np.float64(0.23366150977305886)),
 (581, np.float64(0.23288666826750604)),
 (1961, np.float64(0.23233009432114624)),
 (3408, np.float64(0.23179316248638268)),
 (150, np.float64(0.2294157338705617)),
 (52, np.float64(0.22790142204853647)),
 (1992, np.float64(0.22528177844479147)),
 (83, np.float64(0.2221308291596596)),
 (3146, np.float64(0.2204856030790368)),
 (1369, np.float64(0.2204155075111935)),
 (1087, np.float64(0.2188621723886089)),
 (754, np.float64(0.21677749238102995)),
 (342, np.float64(0.21371260356627755)),
 (41, np.float64(0.21341639745917707)),
 (3998, np.float64(0.2130071614211525)),
 (91, np.float64(0.21239769762143654)),
 (1276, np.float64(0.21179343552183932)),
 (787, np.float64(0.21052631578947367)),
 (1978, np.float64(0.20991342856239587)),
 (773, np.float64(0.2074364287612964)),
 (236, np.float64(0.20561572340611634)),
 (27, np.float64(0.20519567041703082)),
 (230, np.float64(0.20441907985364974)),
 (1029, np.float64(0.20295302744752147)),
 (270, np.float64(0.20138310507789547)),
 (1475, np.float64(0.20138310507789547)),
 (2937, np.float64(0.20107367308916743)),
 (228, np.float64(0.20073876713674155)),
 (557, np.float64(0.19918863762856526)),
 (168, np.float64(0.19664205760333864)),
 (2543, np.float64(0.19619314913492367)),
 (454, np.float64(0.19619314913492364)),
 (3607, np.float64(0.19564639521780738)),
 (4192, np.float64(0.195099743142927)),
 (1484, np.float64(0.1938916835823703)),
 (1652, np.float64(0.1911797782254681)),
 (1327, np.float64(0.19088542889273327)),
 (67, np.float64(0.18809603121561158)),
 (889, np.float64(0.1860807318911967)),
 (643, np.float64(0.18560646746692377)),
 (1295, np.float64(0.18560646746692377)),
 (1492, np.float64(0.185539010998235)),
 (1320, np.float64(0.1842105263157894)),
 (3627, np.float64(0.18394180184548975)),
 (1000, np.float64(0.18183351671314585)),
 (480, np.float64(0.18074256993863336)),
 (4599, np.float64(0.179968508266339)),
 (1278, np.float64(0.17971268936194615)),
 (1283, np.float64(0.17951515631559245)),
 (626, np.float64(0.17920430732684967)),
 (306, np.float64(0.17914359097500465)),
 (1664, np.float64(0.17844356324383875)),
 (2329, np.float64(0.17770466332772766)),
 (466, np.float64(0.17660431427533915)),
 (1176, np.float64(0.17624204863381399)),
 (2862, np.float64(0.1757398728916594)),
 (579, np.float64(0.1749783098183389)),
 (111, np.float64(0.17497830981833887)),
 (2783, np.float64(0.17492785713532988)),
 (4345, np.float64(0.17380866549724555)),
 (2915, np.float64(0.17342199390482396)),
 (4407, np.float64(0.1720618004029213)),
 (233, np.float64(0.17040572913692198)),
 (249, np.float64(0.17040572913692198)),
 (1924, np.float64(0.17013926184468015)),
 (46, np.float64(0.17013926184468012)),
 (2446, np.float64(0.17013926184468012)),
 (87, np.float64(0.16912752287293456)),
 (35, np.float64(0.1675415633166782)),
 (2784, np.float64(0.16747265870207706)),
 (3071, np.float64(0.16747265870207706)),
 (1379, np.float64(0.16692446522239715)),
 (141, np.float64(0.16556654463313047)),
 (223, np.float64(0.16556654463313047)),
 (931, np.float64(0.16531163063339513)),
 (2231, np.float64(0.16531163063339513)),
 (1556, np.float64(0.1642706150496122)),
 (3729, np.float64(0.16390251702679645)),
 (4113, np.float64(0.16386838133611553)),
 (855, np.float64(0.16335983103519902)),
 (564, np.float64(0.1630554699247529)),
 (680, np.float64(0.16289594138375035)),
 (108, np.float64(0.1615552112476628)),
 (200, np.float64(0.16122923187750418)),
 (1273, np.float64(0.16122923187750418)),
 (2511, np.float64(0.16122923187750418)),
 (4667, np.float64(0.16122923187750418)),
 (843, np.float64(0.16062314155080884)),
 (3326, np.float64(0.16059101370939322)),
 (3217, np.float64(0.15974461276617435)),
 (4471, np.float64(0.15907119074394444)),
 (942, np.float64(0.1590711907439444)),
 (2435, np.float64(0.15900879764848916)),
 (26, np.float64(0.15897016107942197)),
 (1081, np.float64(0.15897016107942197)),
 (36, np.float64(0.15897016107942194)),
 (222, np.float64(0.15806712450288418)),
 (2552, np.float64(0.15789473684210523)),
 (14, np.float64(0.1577233170360112)),
 (1392, np.float64(0.15650535813672986)),
 (2817, np.float64(0.15650535813672986)),
 (3448, np.float64(0.1556357543698668)),
 (2580, np.float64(0.15511334686589623)),
 (1440, np.float64(0.15452877499092174)),
 (101, np.float64(0.1541517600345829)),
 (2018, np.float64(0.15415176003458286)),
 (2055, np.float64(0.15328483487124145)),
 (3430, np.float64(0.15242624470826976)),
 (2901, np.float64(0.15108988954976368)),
 (1770, np.float64(0.15086285728094284)),
 (1107, np.float64(0.15018785229652765)),
 (1359, np.float64(0.15018785229652765)),
 (229, np.float64(0.14987146717098285)),
 (1879, np.float64(0.14974651178226578)),
 (31, np.float64(0.14933692277237473)),
 (2673, np.float64(0.14933692277237473)),
 (617, np.float64(0.14912022701586516)),
 (156, np.float64(0.14910501299480675)),
 (1462, np.float64(0.14910501299480672)),
 (401, np.float64(0.14900989016981744)),
 (2786, np.float64(0.14886458551295736)),
 (3629, np.float64(0.14808721943977307)),
 (740, np.float64(0.14768094372379)),
 (1095, np.float64(0.14748154320250398)),
 (2759, np.float64(0.14748154320250398)),
 (1442, np.float64(0.14686837386151166)),
 (3187, np.float64(0.14567913668701624)),
 (1375, np.float64(0.14552644042288465)),
 (529, np.float64(0.14456082739572798)),
 (3754, np.float64(0.14456082739572798)),
 (127, np.float64(0.14429582107316452)),
 (2998, np.float64(0.1442149876003076)),
 (5, np.float64(0.1433848336691011)),
 (1035, np.float64(0.14316407166954997)),
 (3818, np.float64(0.14316407166954997)),
 (628, np.float64(0.14273582042094193)),
 (642, np.float64(0.14227759830611805)),
 (1566, np.float64(0.14180703562423225)),
 (2205, np.float64(0.14180703562423225)),
 (2343, np.float64(0.14180703562423225)),
 (800, np.float64(0.14159846508095772)),
 (2071, np.float64(0.14159846508095772)),
 (2728, np.float64(0.14159846508095772)),
 (4355, np.float64(0.1404878717372541)),
 (483, np.float64(0.1399422857082639)),
 (1752, np.float64(0.1399422857082639)),
 (1292, np.float64(0.1391037210186643)),
 (1999, np.float64(0.1391037210186643)),
 (232, np.float64(0.13834289277321493)),
 (3211, np.float64(0.13834289277321493)),
 (2054, np.float64(0.13770565818881086)),
 (2131, np.float64(0.13767219793848368)),
 (587, np.float64(0.13710212427677043)),
 (365, np.float64(0.13685996549319585)),
 (1737, np.float64(0.13685996549319585)),
 (110, np.float64(0.1361331925293325)),
 (1654, np.float64(0.13572417850765922)),
 (267, np.float64(0.1357241785076592)),
 (1164, np.float64(0.1357241785076592)),
 (1827, np.float64(0.13555692745397502)),
 (1645, np.float64(0.13530201829834765)),
 (490, np.float64(0.13497638119975425)),
 (3727, np.float64(0.13497638119975425)),
 (169, np.float64(0.1343320988518935)),
 (1017, np.float64(0.13425540338526365)),
 (505, np.float64(0.13382584475782766)),
 (4548, np.float64(0.1337491053485943)),
 (2165, np.float64(0.13245323570650439)),
 (3234, np.float64(0.13245323570650439)),
 (755, np.float64(0.13245323570650436)),
 (1013, np.float64(0.13245323570650436)),
 (220, np.float64(0.13109470506889243)),
 (1585, np.float64(0.13109470506889243)),
 (878, np.float64(0.1302565123238377)),
 (18, np.float64(0.13006649542861798)),
 (2652, np.float64(0.13006649542861798)),
 (473, np.float64(0.13006649542861795)),
 (2757, np.float64(0.13006649542861795)),
 (3290, np.float64(0.12977713690461)),
 (939, np.float64(0.12948970103254506)),
 (456, np.float64(0.1290564332299168)),
 (2539, np.float64(0.1290564332299168)),
 (3958, np.float64(0.1284985132406471)),
 (2760, np.float64(0.12811501208373438)),
 (1414, np.float64(0.12804983847550624)),
 (1159, np.float64(0.12725695259515554)),
 (2243, np.float64(0.12725695259515554)),
 (495, np.float64(0.12695834376925205)),
 (1441, np.float64(0.12667364798453495)),
 (3442, np.float64(0.12612416730102238)),
 (3194, np.float64(0.12565617248750865)),
 (279, np.float64(0.1251933489167979)),
 (207, np.float64(0.12519334891679787)),
 (72, np.float64(0.12487810821089251)),
 (2484, np.float64(0.12487810821089251)),
 (3440, np.float64(0.12428283974987417)),
 (151, np.float64(0.12389865694583801)),
 (1525, np.float64(0.12372834943310806)),
 (2939, np.float64(0.12369267399882333)),
 (208, np.float64(0.12361284651454937)),
 (3904, np.float64(0.1233919118490934)),
 (1189, np.float64(0.12297974198582043)),
 (1494, np.float64(0.12227899701112961)),
 (3116, np.float64(0.1222789970111296)),
 (1417, np.float64(0.1216660658480719)),
 (3555, np.float64(0.12166606584807188)),
 (362, np.float64(0.12105003117656304)),
 (430, np.float64(0.12082986304673729)),
 (53, np.float64(0.12082986304673728)),
 (870, np.float64(0.12001066808909962)),
 (487, np.float64(0.11980845957463077)),
 (138, np.float64(0.11969747440993465)),
 (275, np.float64(0.11969747440993464)),
 (3820, np.float64(0.11969747440993464)),
 (785, np.float64(0.11959121830873498)),
 (1789, np.float64(0.11946953821789978)),
 (2031, np.float64(0.11946953821789978)),
 (3571, np.float64(0.11946953821789978)),
 (1934, np.float64(0.11946953821789977)),
 (1798, np.float64(0.11920791213585391)),
 (419, np.float64(0.11846977555181845)),
 (2917, np.float64(0.11846977555181845)),
 (4327, np.float64(0.11846977555181845)),
 (568, np.float64(0.1183892660110542)),
 (1717, np.float64(0.11838926601105419)),
 (102, np.float64(0.11764957176360048)),
 (363, np.float64(0.11764957176360048)),
 (1297, np.float64(0.11764957176360046)),
 (1016, np.float64(0.11749469908920933)),
 (3755, np.float64(0.11717498502967603)),
 (70, np.float64(0.11712303424679454)),
 (2729, np.float64(0.11707322644771175)),
 (592, np.float64(0.11689297502987947)),
 (7, np.float64(0.11654330934961299)),
 (536, np.float64(0.11654330934961299)),
 (3614, np.float64(0.1164681928033949)),
 (589, np.float64(0.11615078990692514)),
 (1291, np.float64(0.11589658124319134)),
 (172, np.float64(0.11589658124319133)),
 (4318, np.float64(0.11561466260321597)),
 (633, np.float64(0.11542256460957982)),
 (2887, np.float64(0.11518482478021624)),
 (1613, np.float64(0.11470786693528089)),
 (256, np.float64(0.11470786693528087)),
 (1407, np.float64(0.11470786693528087)),
 (1463, np.float64(0.11470786693528087)),
 (2235, np.float64(0.11470786693528087)),
 (3313, np.float64(0.11470786693528087)),
 (215, np.float64(0.11470786693528086)),
 (2280, np.float64(0.11295649894498098)),
 (147, np.float64(0.11243619908556621)),
 (1090, np.float64(0.11243619908556621)),
 (1925, np.float64(0.11243619908556621)),
 (1192, np.float64(0.11211037093424212)),
 (784, np.float64(0.11211037093424209)),
 (4178, np.float64(0.11194341570991126)),
 (459, np.float64(0.11164843913471803)),
 (3769, np.float64(0.11164843913471803)),
 (3621, np.float64(0.11134983352076111)),
 (311, np.float64(0.1113498335207611)),
 (794, np.float64(0.1113498335207611)),
 (4099, np.float64(0.111323406598941)),
 (1893, np.float64(0.11128297681493145)),
 (107, np.float64(0.1106817677872384)),
 (2129, np.float64(0.11047363533322149)),
 (1497, np.float64(0.11037769642208697)),
 (3780, np.float64(0.11037769642208697)),
 (371, np.float64(0.11029436104106954)),
 (4230, np.float64(0.11029436104106953)),
 (462, np.float64(0.11024280153951839)),
 (389, np.float64(0.11020775375559674)),
 (3180, np.float64(0.11020775375559674)),
 (185, np.float64(0.10926834468453095)),
 (413, np.float64(0.10926834468453095)),
 (1610, np.float64(0.10926834468453095)),
 (4515, np.float64(0.10926834468453095)),
 (1997, np.float64(0.10890655402346601)),
 (1470, np.float64(0.10882143751650175)),
 (2715, np.float64(0.10882143751650175)),
 (3377, np.float64(0.10838874619051497)),
 (4476, np.float64(0.10838874619051497)),
 (1037, np.float64(0.10827043935570554)),
 (3353, np.float64(0.10827043935570554)),
 (599, np.float64(0.10814761408717502)),
 (2793, np.float64(0.10814761408717502)),
 (2870, np.float64(0.10814761408717502)),
 (2877, np.float64(0.10814761408717502)),
 (4096, np.float64(0.10814761408717502)),
 (17, np.float64(0.108147614087175)),
 (1099, np.float64(0.10740432270821092)),
 (1435, np.float64(0.10740432270821092)),
 (1824, np.float64(0.1074043227082109)),
 (585, np.float64(0.10729938440986901)),
 (2068, np.float64(0.10729938440986901)),
 (571, np.float64(0.10705186531570646)),
 (813, np.float64(0.10667614941253299)),
 (2494, np.float64(0.10667614941253299)),
 (3809, np.float64(0.10651633486674561)),
 (476, np.float64(0.10650358071057624)),
 (1169, np.float64(0.10650358071057624)),
 (2319, np.float64(0.10650358071057624)),
 (3720, np.float64(0.10650358071057624)),
 (790, np.float64(0.1064809179630677)),
 (1745, np.float64(0.10635399695598369)),
 (3497, np.float64(0.10635399695598369)),
 (995, np.float64(0.10591900946051636)),
 (1570, np.float64(0.10591900946051636)),
 (1635, np.float64(0.10526315789473682)),
 (2476, np.float64(0.10526315789473682)),
 (4009, np.float64(0.10526315789473682)),
 (978, np.float64(0.10495671428119792)),
 (3007, np.float64(0.10495671428119792)),
 (3517, np.float64(0.10495671428119792)),
 (2452, np.float64(0.10471347707292387)),
 (3158, np.float64(0.10471347707292386)),
 (768, np.float64(0.1039048666932262)),
 (1894, np.float64(0.1039048666932262)),
 (2989, np.float64(0.1037571695799112)),
 (3101, np.float64(0.1037571695799112)),
 (3763, np.float64(0.1037571695799112)),
 (4734, np.float64(0.1037571695799112)),
 (166, np.float64(0.10375716957991118)),
 (422, np.float64(0.10375716957991118)),
 (4605, np.float64(0.10375716957991118)),
 (16, np.float64(0.10366105360784114)),
 (900, np.float64(0.10366105360784114)),
 (206, np.float64(0.1032370802417528)),
 (412, np.float64(0.10280786170305815)),
 (4697, np.float64(0.10280786170305815)),
 (329, np.float64(0.10259783520851541)),
 (404, np.float64(0.10259783520851541)),
 (1111, np.float64(0.10259783520851541)),
 (1764, np.float64(0.10259783520851541)),
 (3536, np.float64(0.10259783520851541)),
 (1040, np.float64(0.1025978352085154)),
 (4590, np.float64(0.1025978352085154)),
 (10, np.float64(0.10197539568091137)),
 (814, np.float64(0.10197539568091137)),
 (2900, np.float64(0.10197539568091137)),
 (632, np.float64(0.10147651372376074)),
 (660, np.float64(0.10138838820672658)),
 (1520, np.float64(0.10138838820672658)),
 (1938, np.float64(0.10138838820672658)),
 (2502, np.float64(0.10138838820672658)),
 (3375, np.float64(0.10138838820672658)),
 (3715, np.float64(0.10138838820672658)),
 (3021, np.float64(0.10133891838762797)),
 (3909, np.float64(0.10116282977781396)),
 (420, np.float64(0.1007265930331758)),
 (187, np.float64(0.10039117221153819)),
 (330, np.float64(0.10039117221153819)),
 (400, np.float64(0.10039117221153819)),
 (2177, np.float64(0.10039117221153819)),
 (666, np.float64(0.10039117221153818)),
 (9, np.float64(0.10036938356837077)),
 (1271, np.float64(0.10036938356837077)),
 (3413, np.float64(0.10036938356837077)),
 (1508, np.float64(0.10036938356837076)),
 (586, np.float64(0.10012523486435176)),
 (4278, np.float64(0.10012523486435176)),
 (4350, np.float64(0.10012523486435176)),
 (3092, np.float64(0.09959431881428264)),
 (48, np.float64(0.09959431881428263)),
 (1527, np.float64(0.09959431881428263)),
 (253, np.float64(0.09953452035868789)),
 (687, np.float64(0.0993399267798783)),
 (1322, np.float64(0.0993399267798783)),
 (1032, np.float64(0.09933992677987828)),
 (51, np.float64(0.09895413919905867)),
 (174, np.float64(0.09883693657685835)),
 (1272, np.float64(0.0983611844205792)),
 (2049, np.float64(0.0983611844205792)),
 (3660, np.float64(0.0983611844205792)),
 (4256, np.float64(0.0983611844205792)),
 (1235, np.float64(0.09832102880166932)),
 (30, np.float64(0.09809657456746182)),
 (4078, np.float64(0.09733285267845751)),
 (935, np.float64(0.09694584179118515)),
 (1156, np.float64(0.09694584179118515)),
 (2630, np.float64(0.09694584179118515)),
 (3658, np.float64(0.09694584179118515)),
 (246, np.float64(0.09673016668133488)),
 (271, np.float64(0.09637388493048532)),
 (793, np.float64(0.09637388493048532)),
 (3934, np.float64(0.09637388493048532)),
 (4205, np.float64(0.09637388493048532)),
 (1874, np.float64(0.09597148699373931)),
 (4603, np.float64(0.0959714869937393)),
 (897, np.float64(0.09567297464698797)),
 (2174, np.float64(0.09567297464698797)),
 (2293, np.float64(0.09567297464698797)),
 (4165, np.float64(0.09567297464698797)),
 (4370, np.float64(0.09567297464698797)),
 (33, np.float64(0.09558988911273406)),
 (1066, np.float64(0.09558988911273406)),
 (1829, np.float64(0.09558988911273406)),
 (2116, np.float64(0.09558988911273406)),
 (3288, np.float64(0.09558988911273406)),
 (3999, np.float64(0.09558988911273406)),
 (4236, np.float64(0.09558988911273406)),
 (524, np.float64(0.09544271444636666)),
 (859, np.float64(0.09544271444636666)),
 (1084, np.float64(0.09544271444636666)),
 (1820, np.float64(0.09544271444636666)),
 (2440, np.float64(0.09544271444636666)),
 (3417, np.float64(0.09544271444636665)),
 (1410, np.float64(0.09529323477053277)),
 (2050, np.float64(0.09529323477053275)),
 (3463, np.float64(0.09529323477053275)),
 (3173, np.float64(0.09462916232627813)),
 (438, np.float64(0.09453802374948818)),
 (39, np.float64(0.09453802374948816)),
 (1361, np.float64(0.09453802374948816)),
 (3036, np.float64(0.09453802374948816)),
 (2444, np.float64(0.09431035367836321)),
 (294, np.float64(0.09428928580058928)),
 (2865, np.float64(0.09428928580058928)),
 (1674, np.float64(0.09415023063157009)),
 (531, np.float64(0.09397878236968457)),
 (1669, np.float64(0.0936585811581694)),
 (4335, np.float64(0.0936585811581694)),
 (312, np.float64(0.09365858115816939)),

In [42]:
int(np.where(tags_df['title'] == "Avatar")[0][0])

0

In [46]:
import pickle 
with open('model.pkl', 'wb') as fmodel:
    pickle.dump(similartiy, fmodel)

In [48]:

import pickle 
with open('tags_df.pkl', 'wb') as data:
    pickle.dump(tags_df.to_dict(), data)

In [47]:
pd.DataFrame(tags_df.to_dict()).head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."